body {
    background-color: hotpink;
}
h1 {
    font-family: sans-serif;
    padding: 20px;
    margin-left: 150px;
}
div {
    background-color: aquamarine;
    margin-right: 600px;
    padding-bottom: 5px;
    
p {
   
}
